{% extends "sr_base.html" %}

{% block title %}
{{ car.name }} - Car Details
{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-6">
            <div id="carCarousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    {% for image in car.images.all %}
                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                        <img src="{{ image.image.url }}" class="d-block w-100" alt="{{ car.name }}">
                    </div>
                    {% endfor %}
                </div>
                <a class="carousel-control-prev" href="#carCarousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carCarousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">{{ car.name }}</h2>
                    <p class="card-text">{{ car.make }}</p>
                    <p class="card-text">{{ car.description }}</p>
                    <p class="card-text">Price: ${{ car.price }}</p>
                    <a href="#" class="btn btn-primary">Rent</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
