{% extends "sr_base.html" %}

{% block title %}
{{ car.name }} - Reservation Success
{% endblock %}

{% block content %}
<div class="success_container my-4">
    <div class="success_header">
        <h2>Reservation Confirmation</h2>
    </div>
    <div class="success_reservation-details">
        <p>Your reservation has been confirmed. Below are the details:</p>
        <table>
            <tr>
                <th>Reservation ID</th>
                <td>{{ reservation.reference_number }}</td>
            </tr>
            <tr>
                <th>Car Details</th>
                <td>{{ car.name }} - {{ car.make }}</td>
            </tr>
            <tr>
                <th>Reservation Type</th>
                <td>{{ reservation.reservation_type }}</td>
            </tr>
            <tr>
                <th>Transaction Status</th>
                <td>{{ status }}</td>
            </tr>
            <tr>
                <th>Transaction ID</th>
                <td>{{ transaction_id }}</td>
            </tr>
            <tr>
                <th>Transaction Reference</th>
                <td>{{ tx_ref }}</td>
            </tr>
            <!-- Add more fields as needed -->
        </table>
    </div>
    <div class="success_buttons">
        <a href="{% url 'profile' %}" class="btn btn-info">Go to Profile</a>
        <a href="{% url 'home' %}" class="btn btn-success">Go Home</a>
    </div>
    <p>Thank you for choosing our service.</p>
</div>
{% endblock %}
