<!DOCTYPE html>
<html lang="en">
<head>
    {% include "sr_head.html" %}
</head>
<body>

    {% include "sr_navbar.html" %}

    <div class="container mt-4">
        {% block content %}

        
        {% endblock %}
    </div>

    {% include "sr_footer.html" %}

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    {% block javascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.3.1/jspdf.umd.min.js"></script>
{% endblock %}

</body>
</html>
